@charset "UTF-8";

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;    
}

ul, ol, li, a {
    list-style: none;
    text-decoration: none;
}

:root {
    font-family: 'Times New Roman', Times, serif;
    color: white;

    --black: #141414;
    --red: #E50914;
}

body {
    background-color: var(--black);
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

header .logo {
    font-family: 'Arial Black';
    font-weight: 700;
    text-transform: uppercase;
    color: var(--red);
    font-size: 2.5rem;
}

header nav a {
    color: #AAA;
    margin-right: 1em;
}

header nav a:hover {
    color: white;
}

/*** Main Movie ***/

.main-movie {
    background-image: linear-gradient(to right, rgba(0, 0, 0,.9), rgba(0,0,0,0), rgba(0,0,0,.9) 100%),
                      url(/img2/01\ \(11\).jpg);
                      
    background-size: cover;
    background-position: center;
    height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-movie .description {
    margin-top: .65rem;
    margin-bottom: 2.5rem;
}

.main-movie .button {
    padding: 1rem 2rem;
    font-size: .75rem;

    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.5);
    color: white;

    transition: .6s ease all;
}

.main-movie .button:hover {
    cursor: pointer;
    background: white;
    color: black;
}

.button i {
    margin-right: 8px;
}

.title {
    margin-top: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.container {
    margin: 0 5%;
}

.main-movie .container {
    max-width: 70%;
}

.box-movie {
    display: block;
    width: 10%;
    height: 10%;
}